<h1>Log In</h1>

<% if @error %>
<div class="fields_with_errors">
    <h4>Errors:</h4>
    <p><%= @error %></p> 
</div>
<% end %>

<%= form_tag login_path do %>
    <%= "Username: " %>
    <%= text_field_tag :'sessions[username]' %><br>

    <%= "Password: " %>
    <%= password_field_tag :password %><br>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
    <%= submit_tag "Login" %>
<% end %>

<br />
<%= link_to "Login via GitHub", "/auth/github" %>