
<h1>Add Comment</h1>

<% if @comment.errors.any? %>
<div class="fields_with_errors">
    <% @comment.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
    <br/>
</div>
<% end %>

<%= form_for @comment do |f| %>
    <%= f.text_area :content %><br/>

    <%= f.hidden_field :post_id %>
    <%= f.submit %>
<% end %>
