<%= form_for @user do |f| %>
    <p>
    <%= f.label "Name" %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label "Username" %>
    <%= f.text_field :username %>
    </p>
    <%= f.label "Location" %>
    <%= f.text_field :location %>
    </p>
    <p>
    <%= f.label "Primary Instrument" %>
    <%= f.text_field :instrument %>
    </p>
    <p>
    How commited are you? 1 = super casual - 10 = ready to go all in <br>
    <%= f.label "Commitment Level" %>
    <%= f.text_field :instrument %>
    </p>
    <p>
    <%= f.label "Bio" %>
    <%= f.text_area :bio %>
    </p>
    <p>
    <% #need to add nested form to selct or add band %>
    </p>

    <p>
    <%= f.label "Password" %>
    <%= f.password_field :password %>
    </p>

    <%= f.submit %>
<% end %>