<h1><%= @user.username %></h1>
<p><%= @user.name %></p>
<p><%= "Location: " + @user.location if @user.location %></p>
<p>Primary Instrument: <%= @user.instrument %></p>
<p><%= "Commitment Level (1-10): " + @user.commitment.to_s if @user.commitment %></p>
<p>Bio: <br/>
<%= @user.bio %></p>

<h4>Jam Crews</h4>
<%= "No Jam Crews, YET!" unless @user.bands.size > 0 %>
<% @user.bands.each do |band| %>
    <p><%= link_to band.name, band_path(band) %>
    <%= render partial: 'quit', locals: {band: band} if @user == current_user %></p>
<% end %>

<br />

<div style="padding:20px; background-color:#C0C0C0; width: 700px;">
<h4>Posts</h4>
<% Post.all.select {|post| post.author_id == @user.id}.each do |post| %>
    <p><%= link_to post.title, post_path(post) %>
    <%= " posted on " + post.band.name + "'s band page" %></p>
<% end %>
<br />
<h4>Posts Commented</h4>
<% @user.comments.each do |comment| %>
    <p><%= link_to comment.post.title, post_path(comment.post) %>
    <%= " commented at " + comment.created_at.to_s %></p>
<% end %>
</div>

    