<h1><%= @user.username %></h1>
<p><%= @user.name %></p>
<p><%= "Location: " + @user.location if @user.location %></p>
<p>Primary Instrument: <%= @user.instrument %></p>
<p><%= "Commitment Level 1-10: " + @user.commitment.to_s if @user.commitment %></p>
<p>Bio: <br/>
<%= @user.bio %></p>

<h4>Jam Crews</h4>
<%= "No Jam Crews, YET!" unless @user.bands.size > 0 %>
<% @user.bands.each do |band| %>
    <p><%= link_to band.name, band_path(band) %></p>
<% end %>

