<h1><%= "Edit " + @band.name %></h1>

<% if @band.errors.any? %>
<div class="fields_with_errors">
    <% @band.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
    <br/>
</div>
<% end %>

<% if flash[:message] %>
<div class="fields_with_errors">
    <h4>"Errors:"</h4>
    <% flash.each do |type, msg| %>
          <%= msg %><br />
    <% end %>
</div>
<% end %>

<p>Update Band Info and/or Remove Members</p>
<%= form_for @band do |f| %>
    <p>
    <%= f.label :location %><br/>
    <%= f.text_field :location %>
    </p>

    <h3>Add a bandmate:</h3>
    <h4>Select from list</h4>
    <p>
    <%= fields_for @user do |u| %>
        <%= u.label :username %>
        <%= u.collection_select(:username, @users, :username, :username, {include_blank: true}) %>
    <% end %>
    </p>
 
    <%= f.submit "Update Location and/or Add Member" %>
 <% end %>
<br/>
<h2>Add Tags</h2>
<%= form_tag "/tags" do %>
    <%= "Add tag" %>
    <%= text_field_tag "tag[tag_name]" %>
    
    <%= hidden_field_tag "tag[band_name]", @band.name %> 
    <%= submit_tag "Add Tag" %>
<% end %> 
<p>Current Tags: <% @band.tags.each do |tag| %>
    <%=  tag.name + ". " %>
    <% end %>
</p>

<br/>
<%= link_to "Cancel Changes / Go Back to Band", band_path(@band) %>
<br/>
<br/>
<br/>
<%= button_to('Delete Band', {action: "destroy", id: @band.id}, method: :delete, data: {confirm: "Are you sure?" }) %>



