<h1>Create a new band</h1>

<%= @error if @error %>



<%= form_for @band do |f| %>
    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>

    <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
    </p>

    <h3>Add a bandmate:</h3>
    <h4>Select from list</h4>

    <p>
    <%= fields_for @user do |u| %>
        <%= u.label :username %>
        <%= u.collection_select(:username, @users, :username, :username, {include_blank: true}) %>
    <% end %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>

