<h1>Create a new band</h1>


<% if @band.errors.any? %>
    <% @band.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
    <br/>
<% end %>



<%= form_for @band do |f| %>
    <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    </p>

    <p>
    <%= f.label :location %><br/>
    <%= f.text_field :location %>
    </p>

    <h3>Add a bandmate:</h3>
    <h4>Select from list</h4>

    <p>
    <%= fields_for @user do |u| %>
        <%= u.label :username %>
        <%= u.collection_select(:username, @users, :username, :username, {include_blank: true}) %>
    <% end %>
    </p>

    <p>
    <%= fields_for @tag do |t| %>
        <%= t.label :style_in_one_word %>
        <%= t.text_field :tag %>
    <% end %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>

