<h1><%= @band.name %></h1>

<div>
    <p><%= "band location: " + @band.location if @band.location %></p>

    <% if @band.tags.size > 0  %>
        <p>Style Tags:</p>
        <% @band.tags.each do |tag| %>
            <p><%= tag.name %></p>
        <% end %>
    <% end %>

    <p>Members:</p>

    <% @band.users.each do |member| %>
        <p><%= link_to member.name ||= member.username, user_path(member) %></p>
    <% end %>
    <br/>
    <h3><%= link_to "Edit Band", edit_band_path(@band) %></h3>
</div>

<div style="padding:20px;">

    <% if flash[:message] %>
        <h4>Sorry, we could not submit your message.</h4>
            <p><%= flash[:message] %></p>
        <br/>
    <% end %>
    <h2>Write a message to the band:</h2>

    <%= form_tag posts_path do %>
        <%= "Title" %><br>
        <%= text_field_tag "post[title]" %> <br>   
        <%= "Post" %><br>      
        <%= text_area_tag "post[content]" %> <br>  

        <%= hidden_field_tag "post[band_id]", @band.id %> 
        <%= submit_tag "Post message to band" %>
    <% end %>


    <br>
    <h2>Latest Posts</h2>
    <% @band.latest_posts.each do |post| %>
        <h4><%= post.title %></h4>
        <p><%= post.content %></p>
        <p>posted by <%= link_to User.find_by(id: post.author_id).username, user_path(post.author_id) %></p>
        </br>
    <% end %>
</div>

