<h1><%= @band.name %></h1>
<p><%= @band.location %></p>
<p>Members:</p>
<%= @band.users.each do |member| %>
    <p><%= link_to member.name, user_path(member) %></p>
<% end %>

<p><%= link_to "Add or Remove Member", edit_band_path(@band) %></p>
