<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><%= link_to post_by, user_path(@post.author_id) %></p>
<br>
<h3>Comments:</h3>
<% @comments.each do |comment| %>
    <%= comment.content %><br/>
    comment by <%= link_to comment.user.username, user_path(comment.user) %><br/>  
    <br/>  
<% end %>
<br/>
<p><%= link_to "Add comment", new_post_comment_path(@post) %></p>

<p><%= link_to back_to_the_band, band_path(@post.band) %></p>