<!DOCTYPE html>
<html>
  <head>
    <title>Jamsesh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="width: 100%">
    <div style="display: inline-block; padding: 30px;">
    <%= link_to "Home", root_path %>
    </div>

    <% if current_user %>
    <div style="display: inline-block; padding: 30px;">
    <%= link_to "My Profile", user_path(current_user) %>
    </div>
    <div style="display: inline-block; padding: 30px;">
    <%= link_to "View all bands", bands_path %>
    </div>
    <div style="display: inline-block; padding: 30px;">
    <%= button_to "Log Out", logout_path, method: "delete" %>
    </div>
    
    <% else %>
    <div style="display: inline-block; padding: 30px;">
    <%= link_to "Log In", login_path %>
    </div>
    <div style="display: inline-block; padding: 30px;">
    <%= link_to "Sign Up", new_user_path %>
    </div>
    <% end %>
  </div>
    <%= yield %>
  </body>

  
    

</html>
